$colorGris : #5d7588;
$colorBlancoLetras : #f3f3f3;
$colorVerdeAvisos : #2ab27b;
$colorMenu: #313941;
$colorBtnBack: linear-gradient(60deg, #03A9F4, #3F51B5);;

* {
	margin: 0;
	padding: 0;
}
body {
    color: #323544;
    background: linear-gradient(4deg, #114e6b, rgba(0, 0, 0, 0.99));
   	background: #f8f8f8;
    height: 100vh;
    position: relative;
	    	aside.options-perfil 
	    	{
			    position: absolute;
			    width: 224px;
			    background-color: #323544;
    			color: #a1a5ba;
			    position: absolute;
			    overflow: visible;
			    padding-bottom: 24px;
			    height: 100vh;
			    -webkit-transition: all .3s cubic-bezier(.215,.61,.355,1);
			    transition: all .3s cubic-bezier(.215,.61,.355,1);
			    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.01);
			    z-index: 520;
	    			.top-avatar-main 
	    			{
					    display: inline-block;
					    width: 100%;
					    height: 200px;
					    .box-img-av
					    {
					    	width: 150px;
						    height: 150px;
						    border-radius: 50%;
						    margin: 0 auto;
						    overflow: hidden;
						    position: relative;
					    }
					    img 
				    	{
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translate(-50%, -50%);
						}
						h3
						{
							text-align: center;
					    	font-size: 15px;
						}
					}
					ul.list-aside-informative 
					{
					    line-height: 40px;
					    cursor: pointer;
					    margin: 28px 0;
					    text-align: center;
				    		li
				    		{
			    			    display: block;
							    			a
							    			{	
							    				padding: 0 16px;
											    font-size: 12px;
											    line-height: 42px;
											    height: 42px;
											    text-transform: uppercase;
							    				color: #9999a1;
							    				display: block;
							    				&:hover
							    				{
						    					    background-color: #1e202c;
													text-shadow: none;
							    				}
							    			}
				    		}
					}
			}
			.nav-perzonalice-all 
			{
			    position: relative;
			    min-height: 50px;
			    background: linear-gradient(4deg, #114e6b, rgba(0, 0, 0, 0.99));
			    margin-bottom: 0;
			    border: 1px solid transparent;
			    	 li
			    	 {	
			    	 	a{
			    	 	    padding: 5px 10px;
			    	 	 }
			    	 }

			}
			section.section-principal-all 
			{
			    margin-left: 224px;
			    overflow: auto;
			    height: 100vh;
			}
}
a
{
	text-decoration: none;
}


.title-gral 
{
    width: 100%;
    display: inline-block;
    position: relative;
    h2
    {
    	position: absolute;
	    left: -15px;
	    top: 0;
	    background: linear-gradient(60deg, #ec407a, rgba(216, 27, 96, 0.97));
	    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.75);
	    padding: 7px 20px;
	    text-transform: uppercase;
	    font-size: 16px;
	    color: white;
			    i 
			    {
				    border: 1px solid;
				    padding: 10px;
				    margin-right: 15px;
				    color: #323544;
				    background-color: #333333;
				    color: #fff;
				    border: none;
				}
    }
	h3
	{	text-shadow: 0 0 black;
	    position: absolute;
	    top: 0;
	    right: 0;
	    a
	    {	
	    	background: $colorBtnBack;
    		color: #FFFFFF;
	    	text-decoration: none;
		    text-shadow: 0 0 black;
		    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.75);
		    padding: 7px 20px;
		    position: relative;
  			transition: 0.5s;
			    &:before
			    {	
			    	font-family: 'FontAwesome';
			    	content: '\f122';
				    position: absolute;
				    opacity: 0;
				    top: 5px;
				    right: -20px;
				    transition: 0.5s;	
			    }
			    &:hover:before
			    {
			    	 opacity: 1;
 					 right: 10px;
			    }
			    &:hover{
			    	padding-right: 45px;
			    }
	    }
	}
	    
}
.create-forms-informative
{
	width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background: #fbfbfb;
    color: #040b0e;
    padding: 90px;
    padding-top: 100px;
    margin-bottom: 100px;
    border: none;
}
.content-gral-index
{
	width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background: #fbfbfb;
    color: #040b0e;
    padding: 30px;
    margin-bottom: 100px;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    		table.table-perzonalise
    		{	

				td.especial 
				{
				    display: inline-flex;
				    padding-top: 18px;
				}
				.label-success
				{
					background-color: $colorVerdeAvisos;
				    padding: 10px;
				    text-transform: uppercase;
				}
				.label-danger
				{
					padding: 10px;
				    text-transform: uppercase;
				}
				.info 
				{
				    margin-right: 10px;
				}
    			thead 
	    		{	
	    			color: $colorBlancoLetras;
				    background: linear-gradient(4deg, #114e6b, rgba(0, 0, 0, 0.99));
				}
				td
				{
					vertical-align: middle;
				}
				td.img-avatar-table 
				{
				    width: 80px;
				}
				a.btn-edit-style
				{
				        background: linear-gradient(300deg, #2196F3, #043f69);
					    border-radius: 50%;
					    font-size: 20px;
					    width: 35px;
					    height: 35px;
					    border: none;
					    padding: 0;
					    text-align: center;
					    i
					    {
					    	    vertical-align: middle;
							    font-size: 17px;
							    top: 0px;
							    left: 1px;
							    position: relative;
					    }
					    &:hover
					    {
					    	        box-shadow: 0 14px 26px -12px rgb(133, 184, 224), 0 4px 23px 0px rgba(0, 0, 0, 0.31), 0 8px 10px -5px rgb(27, 131, 213);
					    }
				}
				.btn-delete-style
				{	
						background: linear-gradient(300deg, #8c0713, #ef0000);
					    border-radius: 50%;
					    font-size: 20px;
					    width: 35px;
					    height: 35px;
					    border: none;
					    padding: 0;
					    text-align: center;
					    i
					    {
					    	    vertical-align: middle;
							    font-size: 17px;
							    top: -3px;
							    left: 1px;
							    position: relative;
					    }
					    &:hover
					    {
					    	       box-shadow: 0 14px 26px -12px #ce0206, 0 4px 23px 0px rgba(0, 0, 0, 0.31), 0 8px 10px -5px #c00309;
					    }
				}
    		}
    		
}
.informative-descrip 
{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background: #fbfbfb;
    color: #040b0e;
    display: inline-flex;
    padding-top: 100px;
    margin-bottom: 100px;
    		.user-avatar-preview 
    		{
			    max-width: 500px;
				    .editing-options-avatar 
				    {
					    padding: 10px;
					    background: white;
					    color: #2971cc;
					}
			}
    		.blank-box 
    		{
			    margin-bottom: 0px;
			    border: 1px solid transparent;
			    border-radius: 4px;
			    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			    padding: 20px;
			    width: 100%;
			    		.form-gruop.br-separated 
			    		{
						    margin-bottom: 30px;
			    			.input-personalice
			    			{
							    border: 0;
							    background-image: linear-gradient(#a1a5ba, #a1a5ba), linear-gradient(#a1a5ba, #a1a5ba);
							    background-size: 0 2px, 100% 1px;
							    background-repeat: no-repeat;
							    background-position: center bottom, center calc(100% - 1px);
							    background-color: transparent;
							    transition: background 0s ease-out;
							    box-shadow: none;
							    border-radius: 0;
							    font-weight: 400;
							    color: #0e3f56;
							    &::placeholder
							    {
							       color: #ff5600;
							    }
							    &:focus,
							    &:active,
							    &:visited{
							    	outline: none;
								    background-image: linear-gradient(#4f8fe6, #4f8fe6), linear-gradient(#08a2ef, #4f8fe6);
								    background-size: 100% 2px, 100% 1px;
								    box-shadow: none;
								    transition-duration: 0.3s;
							    }
							}
						}	
			}
    		
			
}